<aside #mainSidebar class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link">
    <img
      src="assets/img/ams_logo.jpg"
      alt="IT Dashboard"
      class="brand-image img-circle elevation-3"
      style="height: 30px;"
    />
    <span
      class="brand-text font-weight-bold"
      style="font-weight: bold; font-size: 20px;"
      >AMS</span
    >
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              List Sites
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" *ngFor="let site of sitelist; let i = index">
              <a (click)="chooseSite(site)" class="nav-link"
                ><i
                  class="far fa-circle nav-icon text-{{
                    site.siteState == 'UP'
                      ? 'success'
                      : site.siteState == 'DOWN'
                      ? 'danger'
                      : 'warning'
                  }}"
                  [ngStyle]="{ color: site.colour }"
                >
                </i>
                <p>{{ site.siteName }}</p>
                <span
                  class="right badge badge-{{
                    site.siteState == 'UP'
                      ? 'success'
                      : site.siteState == 'DOWN'
                      ? 'danger'
                      : 'warning'
                  }}"
                  >{{ site.siteState }} {{ site.info[0]['UP'] }}/{{
                    site.info[0]['UP'] + site.info[1]['DOWN']
                  }}
                  </span
                >
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="../widgets.html" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i> 
            <p>
              Pie Chart 
              <span class="right badge badge-danger"></span>
            </p>
          </a>
        </li>
        <li class="nav-item">
              <a href="../widgets.html" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  SAM Summary
                  <span class="right badge badge-danger"></span>
                </p>
              </a>
            </li>
        <li class="nav-item">
              <a href="../widgets.html" class="nav-link">
                <i class="nav-icon fas fa-tree"></i>
                <p>
                  Network path Coreswitch
                  <span class="right badge badge-danger"></span>
                </p>
              </a>
            </li>
        <li class="nav-item">
              <a href="../widgets.html" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                  Internet Path
                  <span class="right badge badge-danger"></span>
                </p>
              </a>
            </li>
        <li class="nav-item">
              <a href="../widgets.html" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  NPM Summary
                  <span class="right badge badge-danger"></span>
                </p>
              </a>
            </li>
        
        <li class="nav-item">
              <a href="../widgets.html" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
          DPA custom link
                  <span class="right badge badge-danger"></span>
                </p>
              </a>
            </li>
        
        <li class="nav-item">
              <a href="../widgets.html" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  SOP
                  <span class="right badge badge-danger"></span>
                </p>
              </a>
            </li>
        
        
         <li class="nav-item">
              <a href="../widgets.html" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  DRI Contact
                  <span class="right badge badge-danger"></span>
                </p>
              </a>
            </li>
            
        
        <li class="nav-item">
              <a href="../widgets.html" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Project
                  <span class="right badge badge-danger"></span>
                </p>
              </a>
            </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
