<aside #mainSidebar class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link">
    <img
      src="assets/img/ams_logo.jpg"
      alt="IT Dashboard"
      class="brand-image img-circle elevation-3"
      style="height: 30px;"
    />
    <span
      class="brand-text font-weight-bold"
      style="font-weight: bold; font-size: 20px;"
      >AMS</span
    >
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Sites
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" *ngFor="let site of sitelist; let i = index">
              <a (click)="chooseSite(site)" class="nav-link"
                ><i
                  class="far fa-circle nav-icon"
                  [ngStyle]="{ color: site.backgroundColor }"
                >
                </i>
                <p>{{ site.siteName }}</p>
                <span
                  style="background-color:{{ site.backgroundColor }};color: {{ site.fontColor }};"
                  class="right badge"
                  >{{ site.siteState }} {{ site.label }}
                  </span
                >
              </a>
            </li>
          </ul>
        </li>
        <!-->li class="nav-item">
          <a href="../widgets.html" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i> 
            <p>
              Pie Chart 
              <span class="right badge badge-danger"></span>
            </p>
          </a>
        </li-->
        <li class="nav-item">
              <a href="https://10.3.5.101/Orion/SummaryView.aspx" class="nav-link" target="_blank">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  SAM Summary
                  <span class="right badge badge-danger"></span>
                </p>
              </a>
            </li>
        <li class="nav-item">
          <a href="https://10.3.5.101/ui/netpath/routeinspector/21/1/2019/09/12/03/44/0" class="nav-link" target="_blank">
           <!--<i class="nav-icon fas fa-tree"></i>-->
            <i class="nav-icon fas fa-th"></i>
            <p>
              Network path Coreswitch
              <span class="right badge badge-danger"></span>
            </p>
          </a>
            </li>
        <li class="nav-item">
          <a href="https://10.3.5.101/ui/netpath/routeinspector/18/1/2019/09/10/05/46/0" class="nav-link" target="_blank">
            <!--<i class="nav-icon fas fa-edit"></i>-->
            <i class="nav-icon fas fa-th"></i>
            <p>
              Internet Path
              <span class="right badge badge-danger"></span>
            </p>
          </a>
          </li>
      <li class="nav-item">
            <a href="https://10.3.5.101/Orion/SummaryView.aspx?ViewKey=NPM%20Summary" class="nav-link" target="_blank">
              <i class="nav-icon fas fa-th"></i>
              <p>
                NPM Summary
                <span class="right badge badge-danger"></span>
              </p>
            </a>
          </li>

      <li class="nav-item">
        <a href="http://10.3.5.104:8123/iwc/main.iwc?action=1&sortBy=DB&sortOrder=DSC&pm=P" class="nav-link" target="_blank">
          <!--<i class="nav-icon fas fa-book"></i>-->
          <i class="nav-icon fas fa-th"></i>
          <p>
            DPA custom link
            <span class="right badge badge-danger"></span>
          </p>
        </a>
          </li>

      <li class="nav-item">
            <a href="file://///fsamdata\Team\IT\Projects\IT Dashboard\SOP" class="nav-link" target="_blank">
              <i class="nav-icon fas fa-th"></i>
              <p>
                SOP
                <span class="right badge badge-danger"></span>
              </p>
            </a>
          </li>


       <li class="nav-item">
            <a href="file://///fsamdata\Team\IT\Projects\IT Dashboard\Contact" class="nav-link" target="_blank">
              <i class="nav-icon fas fa-th"></i>
              <p>
                DRI Contact
                <span class="right badge badge-danger"></span>
              </p>
            </a>
          </li>


      <li class="nav-item">
            <a href="file://///fsamdata\Team\IT\Projects\Project Support" class="nav-link" target="_blank">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Project
                <span class="right badge badge-danger"></span>
              </p>
            </a>
          </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
  <!-- /.sidebar -->
</aside>
